# Flask
SECRET_KEY=cambiar_esto_en_produccion
JWT_SECRET_KEY=cambiar_esto_en_produccion

# MySQL (XAMPP por defecto)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=trashflow

# Detector (configuración de la cámara)
CAMARA_ID=1
CAMARA_TOKEN=token_camara_1_aqui
CAMARA_LATITUD=-34.5250000
CAMARA_LONGITUD=-58.4730000
API_URL=http://localhost:5000
